body{
    background-color: black;
    color: aliceblue;
}
form{
    text-align: center;
    background-color: rgb(189, 185, 185);
    color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    height: auto;
}


